// =========================================================================
#include <windows.h>

// Изолированный манифест Windows 10/11 для легитимизации процессов прямого I/O дисков
2 24 {
    "<?xml version='1.0' encoding='UTF-8' standalone='yes'?>"
    "<assembly xmlns='urn:schemas-microsoft-com:asm.v1' manifestVersion='1.0'>"
    "  <trustInfo xmlns='urn:schemas-microsoft-com:asm.v3'>"
    "    <security>"
    "      <requestedPrivileges>"
    "        <requestedExecutionLevel level='asInvoker' uiAccess='false'/>"
    "      </requestedPrivileges>"
    "    </security>"
    "  </trustInfo>"
    "  <compatibility xmlns='urn:schemas-microsoft-com:asm.v1'>"
    "    <application>"
    "      <!-- Официальная поддержка Windows 10 и Windows 11 -->"
    "      <supportedOS Id='{8e0f7a12-bfb3-4fe8-b9a5-48fd50a15a9a}'/>"
    "    </application>"
    "  </compatibility>"
    "</assembly>"
}

// Таблица системных метаданных версии файла и продукта
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L // Финальный чистый релиз (без флагов отладки VS_FF_DEBUG)
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // Языковая локаль: English (U.S.), Кодировка: Unicode (1200)
        BEGIN
            VALUE "CompanyName",      "FAR Group & Open Source Contributors"
            VALUE "FileDescription",  "Universal Linux & Network Filesystem Reader Plugin for FAR Manager 3"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "linux_fs_reader"
            VALUE "LegalCopyright",   "Copyright (C) 2026. All rights reserved."
            VALUE "OriginalFilename", "linux_fs_reader.dll"
            VALUE "ProductName",      "Linux Filesystem Reader"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        // Дублируем маппинг трансляции для системного загрузчика Windows
        VALUE "Translation", 0x409, 1200
    END
END
